<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cooba.TradeSimulator.Mapper.CustStockInfoMapper">
    <resultMap id="StockInfoResultMap" type="com.cooba.TradeSimulator.Entity.StockInfo">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="stockcode" jdbcType="VARCHAR" property="stockcode" />
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="ISIN_code" jdbcType="VARCHAR" property="isinCode" />
        <result column="publish_date" jdbcType="DATE" property="publishDate" />
        <result column="market_type" jdbcType="VARCHAR" property="marketType" />
        <result column="industry_type" jdbcType="VARCHAR" property="industryType" />
        <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    </resultMap>

    <select id="selectById" resultMap="StockInfoResultMap">
        SELECT * FROM stock_info WHERE id = #{id}
    </select>

    <select id="select" resultMap="StockInfoResultMap">
        SELECT * FROM stock_info
        <where>
            <if test="id !=null ">
                id = #{id}
            </if>
            <if test="stockcode != null">
                AND stockcode = #{stockcode}
            </if>
            <if test="marketType != null">
                AND market_type = #{marketType}
            </if>
            <if test="industryType != null">
                AND industry_type = #{industryType}
            </if>
        </where>
    </select>

    <insert id="insert" >
        INSERT INTO stock_info ( stockcode, name, ISIN_code, publish_date, market_type, industry_type, updated_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.stockcode}, #{item.name}, #{item.isinCode},  #{item.publishDate},  #{item.marketType}, #{item.industryType}, NOW())
        </foreach>
    </insert>

    <update id="update" >
        UPDATE stock_info
        <set>
            <if test="name!= null">
                name = #{name},
            </if>
            <if test="marketType!= null">
                market_type = #{marketType},
            </if>
            <if test="industryType!= null">
                industry_type = #{industryType},
            </if>
            updated_time = NOW()
        </set>
        <where>
            <if test="id !=null ">
                id = #{id}
            </if>
            <if test="stockcode != null">
                AND stockcode = #{stockcode}
            </if>
        </where>
    </update>

    <update id="updateAll" >
        INSERT INTO stock_info ( id, stockcode, name, ISIN_code, publish_date, market_type, industry_type, updated_time)
        VALUES
        <foreach collection="list" item="item" separator=",">
            ( #{item.id}, #{item.stockcode}, #{item.name}, #{item.isinCode},  #{item.publishDate},  #{item.marketType}, #{item.industryType}, NOW())
        </foreach>
        ON DUPLICATE KEY UPDATE
            name = VALUES(name),
            market_type = VALUES(market_type),
            industry_type = VALUES(industry_type),
            updated_time = VALUES(updated_time)
    </update>

    <delete id="delete" >
        DELETE FROM stock_info
        <where>
            <if test="id !=null ">
                id = #{id}
            </if>
            <if test="stockcode != null">
                AND stockcode = #{stockcode}
            </if>
        </where>
    </delete>
</mapper>